*{
  height: 50vh;
  background-image: url("https://www.traveller.com.au/content/dam/images/1/2/9/3/p/s/image.imgtype.TravellerIndexLeadHero.1720x430.png/1418789102701.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

